@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 202 0% 100%;
    --foreground: 202 0% 10%;

    --card: 202 0% 100%;
    --card-foreground: 202 0% 15%;

    --popover: 202 0% 100%;
    --popover-foreground: 202 95% 10%;

    --primary: 202 80.3% 23.9%;
    --primary-foreground: 0 0% 100%;

    --secondary: 202 10% 90%;
    --secondary-foreground: 0 0% 0%;

    --muted: 164 10% 95%;
    --muted-foreground: 202 0% 40%;

    --accent: 164 10% 90%;
    --accent-foreground: 202 0% 15%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 202 0% 100%;

    --border: 202 20% 82%;
    /* --input: 202 20% 50%; */
    --input: var(--border);
    --ring: 202 80.3% 23.9%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 202 10% 10%;
    --foreground: 202 0% 100%;

    --card: 202 0% 10%;
    --card-foreground: 202 0% 100%;

    --popover: 202 10% 5%;
    --popover-foreground: 202 0% 100%;

    --primary: 202 80.3% 23.9%;
    --primary-foreground: 0 0% 100%;

    --secondary: 202 10% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 164 10% 25%;
    --muted-foreground: 202 0% 65%;

    --accent: 164 10% 25%;
    --accent-foreground: 202 0% 95%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 202 0% 100%;

    --border: 202 20% 50%;
    /* --input: 202 20% 50%; */
    --input: var(--border);
    --ring: 202 80.3% 23.9%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
